<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
</head>
<title>{{ title }}</title>
<body>
<h1>{{ title }}</h1>
<form action="/" method="POST">
  <input name="product">
  <input type="submit" value="Add">
</form>

{% if products %}
<h2>Products</h2>
<ul>
  {% for prod in products %}
  <li>{{ prod.name }} <a href="/remove/{{ prod.id }}">remove</a></li>
  {% endfor %}
</ul>
{% endif %}

</body>
</html>